.iframe-container {
position: relative;
padding-bottom: 75%;
padding-top: 35px;
height: 0;
overflow-x: hidden;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}

.no-overflow {
  overflow: hidden !important;
}

.iframe-container iframe {
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}
.auto-scale {
max-width: 100%;
height: auto;
}
.img-div {
display:block;
text-align:center;
margin-right:auto;
margin-left:auto;
}